SUPABASE_URL=
SUPABASE_SERVICE_KEY=
RESEND_API_KEY=
EMAIL_EXPEDITEUR=bohdaniel946@danielyahiri.online
APP_BASE_URL=https://danielyahiri.online
PASSWORD_RESET_SECRET=
GMAIL_USER=
GMAIL_PASSWORD=
EMAIL_DESTINATAIRE=